* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    background-image: url(../img/default.jpg);
    background-size: cover;
    background-position: center;
    transition: .5s;
}
main {
    width: 60%;
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.cont-1, .cont-2 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image {
    width: 250px;
    height: 80%;
    border-radius: 0;
    opacity: 20%;
    transition: .5s;
}
.image:hover {
    border-radius: 50%;
    opacity: 1;
    transform: rotate(360deg);
    transition: .5s;
}
.ronnie {
    background: url(../img/ronaldo.jpg);
    background-size: cover;
    background-position: center;
}
.messi {
    background: url(../img/messi.jpg);
    background-size: cover;
    background-position: center;
}
.neymar {
    background: url(../img/neymar.jpg);
    background-size: cover;
    background-position: center;
}
.lewa {
    background: url(../img/lewa.jpg);
    background-size: cover;
    background-position: center;
}
